---
import type { CollectionEntry } from "astro:content";

import { commentConfig } from "@/config";

import Giscus from "./Giscus.astro";
import Twikoo from "./Twikoo.astro";
import Waline from "./Waline.astro";

interface Props {
	post: CollectionEntry<"posts">;
}

const { data } = Astro.props.post;

let commentService = "";
if (commentConfig?.enable) {
	if (commentConfig.system) {
		commentService = commentConfig.system;
	} else if (commentConfig.twikoo) {
		commentService = "twikoo";
	}
}

const commentEnabled = data.comment ?? true;
---

{
	commentConfig?.enable && commentEnabled && (
		<div class="card-base comment-panel-card p-6 mb-4">
			{commentService === "twikoo" && <Twikoo path={Astro.url.pathname} />}
			{commentService === "giscus" && <Giscus path={Astro.url.pathname} />}
			{
				commentService === "waline" && (
					<Waline path={Astro.url.pathname} commentLabel="评论数" />
				)
			}
			{commentService === "" && null}
		</div>
	)
}
